[user]
	email = pabloriveraconde@gmail.com
	name = Pablo Rivera Conde

[core]
	excludesfile = ~/.gitignore
	editor = nvim
	
[merge]
	conflictStyle = diff3

[pull]
	ff = only

[init]
	defaultBranch = main
