[user]
	email = pabloriveraconde@gmail.com
	name = Pablo Rivera Conde

[core]
	excludesfile = /home/pablorc/.gitignore
	
; [url "git@github.com:"]
; 	insteadOf = https://github.com/

[merge]
	conflictStyle = diff3

[pull]
	ff = only

[init]
	defaultBranch = main
